body {
  color: #444;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

h3 {
  margin-top: 0px;
}

a {
  color: #444;
  text-decoration: none;
}

.error {
  color: red;
}

.container {
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
}

.section {
  height: 60px;
}
